<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Меню</h3>
        <div class="media post_item">
            <div class="media-body">
                <a href="{{ path('show-course', {'id': app.request.get('id')}) }}">
                    <h3>Информация</h3>
                </a>
            </div>
        </div>
        <div class="media post_item">
            <div class="media-body">
                <a href="#">
                    <h3>Отзывы</h3>
                </a>
            </div>
        </div>
        <div class="media post_item">
            <div class="media-body">
                <a href="{{ path('syllabus-course', {'id': app.request.get('id')}) }}">
                    <h3>Содержание</h3>
                </a>
            </div>
        </div>
        <div class="media post_item">
            <div class="media-body">
                <a href="#">
                    <h3>Новости</h3>
                </a>
            </div>
        </div>
    </aside>
</div>
