{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Новый курс</h2>
                            <div class="page_link">
                                <a href="{{ path('index') }}">Главная</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    Размещение курсов на Edustage бесплатное, если они открыты для всех желающих.
                </div>
                <div class="col-lg-9">
                    {{ include('course/_form.html.twig', {
                        button_text: 'Создать'
                    }) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
