<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Меню</h3>
        <div class="media post_item">
            <div class="media-body">
                <a href="#">
                    <h3>Изменить профиль</h3>
                </a>
            </div>
        </div>
        <div class="media post_item">
            <div class="media-body">
                <a href="{{ path('user_courses', {'slug': app.request.get('slug', '')}) }}">
                    <h3>Мои Курсы</h3>
                </a>
            </div>
        </div>
        <div class="media post_item">
            <div class="media-body">
                <a href="{{ path('new-course') }}">
                    <h3>Создать Курс</h3>
                </a>
            </div>
        </div>
    </aside>
</div>
